<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>test</servlet-name>
		<servlet-class>com.crivano.bluc.rest.server.TestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>test</servlet-name>
		<url-pattern>/api/v1/test</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>certificate</servlet-name>
		<servlet-class>com.crivano.bluc.rest.server.CertificateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>certificate</servlet-name>
		<url-pattern>/api/v1/certificate</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>hash</servlet-name>
		<servlet-class>com.crivano.bluc.rest.server.HashServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>hash</servlet-name>
		<url-pattern>/api/v1/hash</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>envelope</servlet-name>
		<servlet-class>com.crivano.bluc.rest.server.EnvelopeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>envelope</servlet-name>
		<url-pattern>/api/v1/envelope</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>validate</servlet-name>
		<servlet-class>com.crivano.bluc.rest.server.ValidateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>validate</servlet-name>
		<url-pattern>/api/v1/validate</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
